body{
    min-height: 100%;
    background: rgba(35, 7, 77, 0.6);
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(204, 83, 51, 0.6), rgba(35, 7, 77, 0.6));
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(204, 83, 51, 0.6), rgba(35, 7, 77, 0.6));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.tit{
    font-family: Pacifico;
    font-size: 50px;
    color:  #543b54; 
}

.btn-rounded{
    border-radius: 10em;
}
@font-face {
  font-family: Pacifico;
  src: url(Pacifico.ttf);
}